.formWrapper{
  background-color: white;

  .firstRow{
    display: flex;
    align-items: center;

    & > * {
      flex: 0 0 auto;

      &:first-child{
        flex: 1 1 auto;
      }
    }
  }

  .secondRow{

  }
}
