.container{
  width: 100%;
}

.form {
  display: flex;

  & > *:first-child{
    flex: 1 1 auto;
  }

  .loading {
    flex: 0 0 auto;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    display: flex;

    &.show {
      visibility: visible;
    }
  }
}

.listStaticContainer {
  position: relative;

  .listFloatingContainer {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding: 15px;
    border: solid 1px #d6d6d6;

    .listItem {
      cursor: pointer;
      //display: flex;

      &:hover {
        font-weight: bold;
      }

      .symbol {
      //  flex: 0 0 100px;
      }

      .description {
      //  flex: 0 0 auto;
      }

      .type {
      //  padding-left: 15px;
      //  white-space: nowrap;
      }
    }
  }
}
