body{
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

$offset1: 8px;
$offset2: 2 * 8px;
$offset3: 3 * 8px;
$offset4: 4 * 8px;
$offset5: 5 * 8px;
$offset6: 6 * 8px;
$offset7: 7 * 8px;
$offset8: 8 * 8px;
