.floatingContainer{
  position: relative;

  & > * {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    background: white;
    z-index: 5;
    min-width: 250px;

    table {
      text-align: right;
      min-width: 100%;

      tr {
        td:first-child{
          width: 100%;
        }

        td:last-child{
          text-align: center;
        }
      }
    }
  }
}
