.header{
  cursor: pointer;
  display: flex;

  & > *:not(:last-child){
    margin-right: 10px;
  }

  .symbol{
    flex: 0 0 100px;
    font-weight: bold;
  }

  .description{
    flex: 1 1 auto;
  }

  .openPrice {
    flex: 0 0 80px;
    text-align: right;
  }

  .currentPrice{
    flex: 0 0 80px;
    text-align: right;
  }

  .percentageGain{
    flex: 0 0 75px;
    text-align: right;
    & > * {
      padding: 2px 4px;
    }
  }
}
